//CONTROL PANEL

footer {
	background: $color-header;
	margin: 0 auto -1.25rem auto;
	overflow: hidden;
	width: 100%;

	a {
		display: block;
		float: left;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
		width: 40%;
	}

	&::before {
		content: " ";
		background: url(/images/op-art-circle.png) 0 0 no-repeat;
		background-position: center;
		display: block;
		height: 50vh;
		overflow: hidden;
	}
}



aside {
	background: $color-header;
	overflow: hidden;

	&::before {
		content: " ";
		background: url(/images/gauge-black.png) 0 0 no-repeat;
		background-position: center;
		background-size: contain;
		display: block;
		height: 10em;
		overflow: hidden;
		padding: 1.25rem;
		width: 90%;
	}
}

.design-archives {
	overflow: hidden;

	nav,
	ul {
		overflow: hidden;
	}
	
	ul:before {
		content: " ";
		background: url(/images/knob.png) 0 0 no-repeat;
		background-position: center;
		background-size: contain;
		clear: both;
		float: left;
		height: 6rem;
		width: 33.3333%;
		vertical-align: middle;
	}	

	li {
		overflow: hidden;
		padding: 0;
	}

	.next,
	.viewall {
		display: block;
		float: left;
		height: 6rem;
		width: 33.3333%;
		vertical-align: middle;
	}
}

.zen-resources {
		li {
			display: inline-block;
			overflow: hidden;
			padding: 0.2rem;

			a {
				border: 2px solid $color-border;
				display: block;
				padding: 0.5rem 1rem;
			}

		}
}

.design-selection {
	margin: -2rem auto 0 auto;
	overflow: hidden;

	nav {
		overflow: hidden;
	}
	li {
		background: $color-button;
		border-right: 5px solid $color-border;
		border-bottom: 5px solid $color-border;
		border-top: 2px	solid $color-border;
		border-left: 2px solid $color-border;
		color: $color-border;
		height: 8rem;
		display: block;
		float: left;
		font-weight: bold;
		padding: 1.5rem 0.5rem;
		text-align: center;
		text-transform: uppercase;
		width: 33.3333%;

		&:first-child {
			padding: 1rem 0.5rem;
		}

		&:nth-child(7),
		&:nth-child(8) {
			width: 50%;
		}

		.design-name,
		.designer-name {
			display: block;
		}
	}
}




@media (min-width: 900px) {
	aside {

		.wrapper {
			overflow: hidden;
		}

		&:before {
			float: left;
			width: 45%;
		}

		nav {
			float: left;
		}

		.design-archives {
			clear: both;
		}

		.archives,
		.resources {
			clear: both;
		}
	}
}




















