

.intro {
		header {
			background: #000 url(/images/stars.png) repeat top center;
			background-position: 0 0;
			color: $color-text;
			height: 85vh;
			text-align: center;
			z-index: 0;

			h1 {
				animation: stars 6s ease-in-out infinite;
				background: transparent;
				background-position: 0 0;
				height: 85vh;
				padding-top: 15rem;
			}

			h2 {
				margin-top: -15rem;
			}
			
		}

		.summary {
			padding: 1rem;

			a {
				border: 2px solid $color-text;
				color: $color-text;
				padding: 0.5rem 1rem;
			}
		}
}

@keyframes stars {
	0% {
		background: transparent;
	}

	100% {
		background: #000 url(/images/twinkling.png) repeat;
	}
}